
.sidebar-container {
    height          : 88vh;
    width           : 260px;
    /* background-color: #fff; */
    background-color: orange;
    margin-top: 8px;

}

.sidebar-container .invoice-button {
    height          : 33px;
    width           : 70%;
    border-radius   : 30px;
    background-color: #27AE60;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.sidebar-container .invoice-button:hover {
    background-color: rgb(27, 143, 75);
}

.sidebar-container .invoice-button > div {
    color: white;
    font-size: .8em;
    font-weight: bold;
}

.sidebar-container .section-title {
    margin-top: 30px;
    margin-left: 30px;
    font-size: .8em;
    color: #647787;
    /* background-color: red; */
    padding: 5px 0;
    display: flex;
}

.sidebar-container .sidebar-item {
    margin-top: 5px;
    font-size: .8em;
    color: #647787;
    padding: 5px 5px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* max-width: max-content; */
}

.sidebar-container .sidebar-item:hover {
    background-color: rgba(24,117,240,.1);

}


.sidebar-container .sidebar-item .sidebar-item-icon {
    margin-right: 10px;
    color: 647787;
}

.sidebar-container .sidebar-item .sidebar-item-icon > img {
    transform: scale(.9);
}