@media only screen and (max-width: 768px) {
    .App {
        display: none;
    }

    body::after {
        content   : "Please view this webpage on a Desktop device or a larger screen";
        color     : red;
        margin    : auto;
        text-align: center;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        display: flex;

    }

    body {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: .5px;
    }

    .container .content {
        /* margin-top: 8px; */
        flex               : 1;
        display            : flex;
        /* background-color: green; */
    }

}